:lang(en) q {
  quotes: '"' '"' "'" "'";
}
:lang(es) q {
  quotes: '«' '»' '‘' '’';
}

.quote {
  position: relative;
  background-color: peru;
  border-radius: 10px;
  padding: 20px;
  color: white;
  float: left;
}

.quote::after {
  content: '';
  position: absolute;
  left: 10px;
  bottom: -30px;
  border: 20px solid;
  border-color: peru transparent transparent transparent;
}
