body {
  counter-reset: paragraphs;
  width: 450px;
}

body::after {
  content: attr(data-width);
}

p:after {
  content: '-> Paragraph: ' counter(paragraphs);
  counter-increment: paragraphs;
  font-weight: bold;
}

div {
  counter-reset: paragraphs;
}
